.contact_wrapper {
  svg {
    font-size: 1em;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.contact-form {
  padding-top: 20px;

  button {
    float: right;
    background-color: white;
    color: #050f0b;
  }

  button:hover {
    background-color: #5000ca;
    color: white;
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #5000ca !important;
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: #ccc !important;
  }

  .MuiFormHelperText-root {
    color: #d32f2f !important;
  }

  .MuiFormControl-root {
    width: 100%;
  }
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  //margin-bottom: 15px !important;
}


/* === LIGHT THEME === */
.light-mode .contact_wrapper,
.light-mode .contact-form {
  color: #000000;

  .MuiInputBase-input,
  .MuiInputBase-root textarea {
    color: #000000 !important;
    background-color: #ffffff !important;
  }

  .MuiFormLabel-root {
    color: #000000 !important;
  }

  .Mui-focused .MuiFormLabel-root {
    color: #000000 !important;
  }

  button {
    background-color: white;
    color: #050f0b;
  }

  button:hover {
    background-color: #5000ca;
    color: white;
  }
}


/* === DARK THEME === */
/* === DARK THEME === */
.dark-mode .contact_wrapper,
.dark-mode .contact-form {
  color: #ffffff;

  .MuiInputBase-input,
  .MuiInputBase-root textarea {
    color: #ffffff !important;
    background-color: #1e1e1e !important;
  }

  .MuiOutlinedInput-root {
    background-color: #1e1e1e !important;
    border-radius: 4px;
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: #ccc !important; // default border
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #ffffff !important; // change focus border to white or any preferred
  }

  .MuiFormLabel-root {
    color: #cccccc !important;
  }

  .Mui-focused .MuiFormLabel-root {
    color: #ffffff !important;
  }

  .MuiFormHelperText-root {
    color: #f77 !important;
  }

  button {
    background-color: #2c2c2c;
    color: #ffffff;
  }

  button:hover {
    background-color: #7c4dff;
    color: white;
  }
}
